
.title-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-image {
    display: flex;
    justify-content: stretch; /* Ensures items stretch to fill the container */
    align-items: center;
    /* border: 3px solid red; */
    z-index: 1; /* Sits behind the title text */
}

.title-image > img {
    flex: 1; /* Ensures each image takes up equal space */
    width: 100%; /* Makes each image fully responsive within its flex container */
    height: 80%; /* Ensures images cover full container height */
    /* object-fit: cover; Ensures images cover without stretching or distorting */
    /* border: 3px solid blue; */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.title-nostacking {
    margin-top: 0px;
    background-color: #b43f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fcf6ee;
    /* border: 3px solid yellow; */
}