body {
    background-color: lightgray;
}

.jumbotron {
    background-color: blue; 
    background-image: linear-gradient(to bottom left, lightblue, darkblue);
    height: 200px;
}

.intro-text {
    color: white;
    font-size: 30px;
}

